.EditContact {
    max-width: 27%;
    padding-top: 44px;
    margin: 0 auto;
}

.InputItem {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.emptyImg {
    height: 150px;
}

.ContactImg {
    display: block;
    height: 130px;
    width: 130px;
    margin: 20px 0;
    border-radius: 50%;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.NavLink, button {
    border: 1px solid;
    border-radius: 12px;
    font-size: 16px;
    padding: 11px;
    text-decoration: none;
}